Debug/
dll/
lib/
res/resOld/
res/blenderFiles
x64/
include/boost/
.vs/
ClothSimulationProject.rc
ClothSimulationProject.sln
ClothSimulationProject.vcxproj
ClothSimulationProject.vcxproj.filters
ClothSimulationProject.vcxproj.user
assimp-vc141-mt.dll
assimp-vc141-mtd.dll
dna.txt
glad.c
resource.h